* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-tag {
  cursor: pointer;
}

.results {
  max-height: calc(100vh - 4rem);
  overflow-y: scroll;
  overflow-x: hidden;
}

.disabled {
  opacity: 0.6;
  pointer-events: none;
  cursor: not-allowed;
}
